.parallax-section {
  position: relative;
  height: 150vh;
  overflow: hidden;
  background: #000;
}

.parallax-bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.parallax-bg img {
  position: absolute;
  left: 50%;
  top: 40%;

  width: 120%;
  height: auto;

  --parallaxY: 0px;
  --scale: 1;

  transform:
    translate(-50%, calc(-50% + var(--parallaxY)))
    scale(var(--scale));
}
