body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #0b0b0b;
  color: white;
}

.hero-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh; /* fontos: nagyobb legyen! */

  background-image: url("hegy.png");
  background-size: cover;
  background-position: 50% 20%;

  z-index: 0;
  will-change: transform;
}

/* HERO (csak térkitöltő + szöveg) */
.hero {
  height: 100vh;
  position: relative;
  z-index: 1;
}

/* SZÖVEG – KÖZÉPRE IGAZÍTVA */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

/* CÍM FINOMHANGOLÁS */
.hero-text h1 {
  margin-bottom: 10px;
}

/* ALÁSZÖVEG */
.hero-text p {
  opacity: 0.8;
  font-size: 14px;
}

/* ALSÓ FADE */
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 220px;
  background: linear-gradient(to bottom, transparent, #0b0b0b);
}

/* CONTENT – EZ MOZOG */
.content {
  position: relative;
  z-index: 2;

  margin-top: 0px;
  background: #0b0b0b;
  padding: 80px 20px;
  text-align: center;

  will-change: transform;
}
