body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #0b0b0b;
  color: white;
}

/* HERO KÉP */
.hero {
  position: relative;
  height: 100vh;
  background: url("assets/hegy.jpg") center/cover no-repeat;
}

/* SÖTÉTÍTÉS (hogy ne vakítson) */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

/* SZÖVEG */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 16px;
  opacity: 0.8;
}
